@model WebAPI.Models.PreSentence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PreSentence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfOffender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfOffender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffenderFatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffenderFatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActSec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReceiving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfReceiving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceStation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PSid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
